<% layout('layout') %>

<div class="content">
    <h2>商品列表</h2>
    <ul>
        <li>帳號：<input type="text" class="id" name="id"></li>
        <li>密碼：<input type="password" class="password" name="password"></li>
        <li style="padding-left: 100px;"><button type="button" id='register'>註冊</button></li>
    </ul>
</div>