<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/all.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="warp">
        
        <header>
            <h1><a href="/">多肉</a></h1>
            <div class="menu">
                    <ul>
                        <li><a href="/login">登入</a></li>
                        <li><a href="/register">註冊</a></li>
                        <li><a href="">查看訂單</a></li>
                        <li><a href="">購物車</a></li>
                    </ul>
                </div>
        </header>
        <%- body %>
    
    <footer></footer>
    </div>
</body>

</html>