<% layout('layout') %>

<link href="/stylesheets/register.css" rel="stylesheet" type="text/css">
<script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>

<div class="content">
    <ul>
        <li><h2>會員登入</h2></li>
        <li>帳 號 ：<input type="text" class="id" name="id"></li>
        <li>密 碼 ：<input type="password" class="password" name="password"></li>
        <li style="padding-left: 100px;"><button type="button" id='login' >登入</button></li>
    </ul>
</div>
<script src="/javascripts/logincheck.js"></script>