<% layout('layout') %>
<link href="/stylesheets/register.css" rel="stylesheet" type="text/css">


<div class="content">
    <ul>
        <li><h2>加入會員</h2></li>
        <li>姓 名 ：<input type="text" class="name" name="name"></li>
        <li>帳 號 ：<input type="text" class="id" name="id"></li>
        <li>密 碼 ：<input type="password" class="password" name="password"></li>
        <li>email：<input type="text" class="mail" name="mail"></li>
        <li style="padding-left: 100px;"><button type="button" id='register'>註冊</button></li>
    </ul>
</div>