h2{
    text-align: center;
}

.item{
    width:230px;
    height:330px;
    background-color: rgb(248, 240, 240);
    padding:20px;
    border: 2px;
    border-style: solid;
    border-color: rgb(247, 203, 203);
    text-align: center;
}
.item img{
    width:100px;
    height:100px;
    margin-bottom: 10px;
}
.product{
    margin: 0 auto;
    width:1200px;
    padding:20px;
}
.product li{
    display: inline-block;
}
.product li+li div{
    margin-left: 20px;
}
.item li{
    display:block;
    height: 60px;
    
}

ul{
    padding-inline-start: 0px;
}
select{
    width: 50px;
    height: 25px;
}
.addbtn{
    height:30px;
    background-color: rgb(240, 186, 162);
    border-style: none;
   
}