
.content h2{
    text-align: center;
}
.content li{
    margin-top: 30px;
    font-size: 20px;
}
.content{
    margin: 0px auto; width:300px;
    padding-right: 40px;
    height: 450px;
}
button{
    width:80px;
    height:30px;
    font-size: 20px;
    font-family: '微軟正黑體';
    background-color: rgb(193, 224, 196);
    border-style: solid;
    border-color: rgb(188, 202, 202);
}
